/*lists*/
h1, .promo__title, .section-title__title, .contacts__title, .section-title__overhead, .person-card__position, .contacts__subtitle, .slider__title {
  font-weight: bold; }

h1, .promo__title {
  font-size: 64px;
  line-height: 68px;
  letter-spacing: -2px; }

.section-title__title, .contacts__title {
  font-size: 52px;
  line-height: 78px;
  letter-spacing: normal; }

.section-title__overhead, .person-card__position, .contacts__subtitle {
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 3px;
  text-transform: uppercase; }

.promo__callback, .nav__link, .contacts__link, .contacts__media-link {
  text-decoration: none;
  color: #fff; }

.person-card__name-link, .promo__callback, .nav__link {
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 3px;
  font-family: Poppins, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none; }

.person-card__name-link {
  text-transform: none; }

.promo__header, .header, .promo__content, .services__items, .processes__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.form__input::-webkit-input-placeholder {
  font-size: 15px;
  line-height: 22px;
  letter-spacing: normal;
  font-weight: bold;
  color: #fff; }

.form__input::-moz-placeholder {
  font-size: 15px;
  line-height: 22px;
  letter-spacing: normal;
  font-weight: bold;
  color: #fff; }

.form__input:-ms-input-placeholder {
  font-size: 15px;
  line-height: 22px;
  letter-spacing: normal;
  font-weight: bold;
  color: #fff; }

.form__input::-ms-input-placeholder {
  font-size: 15px;
  line-height: 22px;
  letter-spacing: normal;
  font-weight: bold;
  color: #fff; }

.form__input, .form__input::placeholder {
  font-size: 15px;
  line-height: 22px;
  letter-spacing: normal;
  font-weight: bold;
  color: #fff; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@use "../utils";
html {
  scroll-behavior: smooth; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: Poppins, sans-serif;
  background: #f2f9ff; }

@use "../utils";
.container {
  max-width: 1146px;
  margin: 0 auto; }
  .container--promo {
    margin-bottom: 148px; }
    @media (max-width: 900px) {
      .container--promo {
        margin-bottom: 20px;
        width: 100%; } }
  .container--medium {
    max-width: 760px; }
  @media (max-width: 1200px) {
    .container {
      padding: 0 50px; } }
  @media (max-width: 900px) {
    .container--small-padding {
      padding: 0 20px; } }

@use "../utils";
.promo {
  margin: 0 auto 148px;
  position: relative;
  overflow: hidden;
  background: #008aff;
  border-radius: 0 0 200px 200px;
  -webkit-transition: border-radius 0.5s;
  transition: border-radius 0.5s; }
  @media (max-width: 1601px) {
    .promo {
      border-radius: 0 0 200px; } }
  @media (max-width: 900px) {
    .promo {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-bottom: 70px;
      border-radius: 0 0 50px 50px; } }
  .promo__header {
    width: 100%;
    margin-bottom: 168px; }
    @media (max-width: 1200px) {
      .promo__header {
        margin-bottom: 60px; } }
    @media (max-width: 900px) {
      .promo__header {
        margin-bottom: 30px;
        width: 100%; } }
  .promo__menu {
    margin: 48px 0; }
    @media (max-width: 1200px) {
      .promo__menu {
        margin: 30px 0; } }
  .promo__callback {
    padding: 8px 0;
    position: relative;
    -webkit-transition: color 0.3s;
    transition: color 0.3s; }
    @media (max-width: 968px) {
      .promo__callback {
        display: none; } }
    .promo__callback::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      bottom: 0;
      background: #ff9c8e; }
    .promo__callback:hover {
      color: #ff9c8e; }
  .promo__button {
    padding: 13px 0;
    width: 60%;
    min-width: 160px;
    text-align: center; }
    @media (max-width: 900px) {
      .promo__button {
        padding: 7px 0; } }
  .promo__slider {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 43vw;
    height: 42vw;
    max-height: 626px; }
    @media (max-width: 900px) {
      .promo__slider {
        position: static;
        width: 70vw;
        margin-bottom: 20px; } }

@use "../utils";
.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  border-radius: 200px 0 0;
  font-family: "Open Sans", sans-serif;
  font-weight: normal; }
  @media (max-width: 900px) {
    .slider {
      border-radius: 50px; } }
  .slider__content {
    width: 100%;
    height: 100%;
    position: relative; }
  .slider__picture {
    position: absolute;
    display: block;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: opacity 1s;
    transition: opacity 1s; }
    @media (max-width: 900px) {
      .slider__picture {
        border-radius: 50px; } }
    .slider__picture--previous {
      -webkit-transform: translateX(-100%);
              transform: translateX(-100%); }
    .slider__picture--is-active {
      opacity: 1; }
  .slider__toggle {
    position: absolute;
    left: 48px;
    bottom: 66px;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fff; }
    @media (max-width: 900px) {
      .slider__toggle {
        display: none; } }
  .slider__title {
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 3px;
    text-transform: uppercase; }
  .slider__text {
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: normal; }
  .slider__arrows {
    margin-right: 24px; }
  .slider__btn {
    width: 32px;
    height: 32px;
    -o-object-fit: contain;
       object-fit: contain;
    border: 1px solid #fff;
    border-radius: 50%; }

@use "../utils";
@media (max-width: 969px) {
  .header {
    width: 100%; } }

.header__logo {
  margin-right: 78px; }

@media (min-width: 969px) {
  .header__toggle {
    display: none; } }

@use "../utils";
@media (max-width: 968px) {
  .nav {
    position: fixed;
    top: 0;
    left: 50%;
    bottom: 50%;
    right: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    padding-top: 10px;
    border-radius: 0 0 50px 50px;
    background: #ff9c8e;
    z-index: 2;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s; } }
  @media (max-width: 968px) and (max-width: 768px) {
    .nav {
      left: 0;
      bottom: 0; } }

@media (max-width: 968px) {
    .nav--is-active {
      -webkit-transform: translateY(0);
              transform: translateY(0); } }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (min-width: 969px) {
    .nav__list :not(:first-child) {
      margin-left: 64px; } }
  @media (max-width: 968px) {
    .nav__list {
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      margin-left: 0;
      padding: 20px 50px 60px; } }

@media (max-width: 968px) {
  .nav__item {
    margin: 0; } }

.nav__item--toggle {
  -ms-flex-item-align: end;
      align-self: flex-end; }
  @media (min-width: 968px) {
    .nav__item--toggle {
      display: none; } }

.nav__link {
  padding: 8px 0;
  -webkit-transition: color 0.3s;
  transition: color 0.3s; }
  .nav__link:hover {
    color: #ff9c8e; }
  @media (max-width: 968px) {
    .nav__link {
      font-size: 25px; } }

.nav__toggle {
  -ms-flex-item-align: end;
      align-self: end; }

@use "../utils";
.promo__content {
  height: 100%; }
  @media (max-width: 900px) {
    .promo__content {
      width: 100%;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

.promo__presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%; }
  @media (max-width: 900px) {
    .promo__presentation {
      width: 70%;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      text-align: center;
      margin-bottom: 30px; } }

.promo__title {
  margin-bottom: 32px;
  color: #fff; }
  @media (max-width: 900px) {
    .promo__title {
      font-size: 42px;
      line-height: 1;
      letter-spacing: normal; } }
  @media (max-width: 320px) {
    .promo__title {
      font-size: 24px;
      line-height: 1;
      letter-spacing: normal; } }

.promo__idea {
  margin-bottom: 83px;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: normal;
  color: #fff; }
  @media (max-width: 900px) {
    .promo__idea {
      font-size: 14px;
      margin-bottom: 30px; } }

@use "../utils";
.button {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 15px;
  background: #ff9c8e;
  color: #fff;
  border: 2px solid #ff9c8e;
  border-radius: 64px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  -webkit-transition: color 0.3s;
  transition: color 0.3s; }
  .button:hover {
    background-color: #eee; }
  .button:hover {
    color: #ff9c8e; }

@use "../utils";
.description {
  width: 65%;
  margin: 0 auto;
  padding-bottom: 148px; }
  @media (max-width: 900px) {
    .description {
      width: 100%;
      text-align: center;
      padding-bottom: 50px; } }
  .description__title {
    font-size: 32px;
    line-height: 1.5;
    letter-spacing: normal;
    font-weight: 600;
    margin-bottom: 16px;
    color: #253757; }
  .description__text {
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: normal;
    color: #6c788b; }
    @media (max-width: 900px) {
      .description__text {
        font-size: 16px;
        text-align: justify; } }

@use "../utils";
.section-title__description {
  width: 30%; }

.section-title__overhead {
  color: #c0cdd7;
  margin-bottom: 16px; }

.section-title__title {
  color: #253757;
  margin-bottom: 24px; }

.section-title__ideas {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: normal;
  color: #6c788b; }
  .section-title__ideas:not(:last-child) {
    margin-bottom: 20px; }

@use "../utils";
.services {
  background: #fff;
  padding: 130px 0 100px; }
  @media (max-width: 900px) {
    .services {
      padding: 65px 0 50px; } }
  .services__title {
    margin-bottom: 64px;
    text-align: center; }
  .services__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    @media (max-width: 750px) {
      .services__items {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }
  .services__card {
    margin-bottom: 30px; }

@use "../utils";
.title {
  font-size: 52px;
  line-height: 1.5;
  letter-spacing: normal;
  font-weight: 600;
  color: #253757; }
  @media (max-width: 900px) {
    .title {
      font-size: 32px; } }

@use "../utils";
.card {
  max-width: 264px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s; }
  .card__picture {
    width: 188px;
    height: 166px;
    margin-bottom: 40px;
    border-radius: 30px; }
  .card__title {
    font-weight: 600;
    font-size: 20px;
    color: #253757;
    margin-bottom: 16px; }
  .card__description {
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: normal;
    color: #6c788b; }
  .card:hover {
    -webkit-transform: scale(1.03);
            transform: scale(1.03); }

@use "../utils";
.processes {
  padding: 148px 0 44px; }
  .processes__content {
    width: 100%; }
    @media (max-width: 1024px) {
      .processes__content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
  .processes__description {
    max-width: 30%; }
    @media (max-width: 1024px) {
      .processes__description {
        max-width: 100%;
        margin-bottom: 30px; } }
  .processes__items {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (max-width: 1200px) {
      .processes__items {
        width: 55%; } }
    @media (max-width: 1024px) {
      .processes__items {
        width: 100%; } }
    @media (max-width: 750px) {
      .processes__items {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }
  .processes__cards-block {
    width: 48%;
    min-width: 250px; }
    .processes__cards-block--down {
      position: relative;
      bottom: -135px;
      z-index: 1; }
      @media (max-width: 1024px) {
        .processes__cards-block--down {
          bottom: 0; } }
      @media (max-width: 900px) {
        .processes__cards-block--down {
          margin-bottom: 30px; } }
  .processes__card {
    min-width: 250px;
    padding: 34px 43px; }
    .processes__card:first-child {
      margin-bottom: 30px; }

@use "../utils";
.process-card {
  background: #fff;
  -webkit-box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
          box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
  border-radius: 24px; }
  .process-card__number {
    display: inline-block;
    font-weight: 600;
    font-size: 13px;
    line-height: 1.5;
    letter-spacing: normal;
    border-radius: 23px;
    padding: 2px 12px;
    margin-bottom: 24px; }
    .process-card__number--lightblue {
      color: #56ccf2;
      background: rgba(86, 204, 242, 0.1); }
    .process-card__number--lightgreen {
      color: #15d850;
      background: rgba(21, 216, 80, 0.1); }
    .process-card__number--orange {
      color: #fcc91d;
      background: rgba(252, 201, 29, 0.1); }
    .process-card__number--lightred {
      color: #f36363;
      background: rgba(243, 99, 99, 0.1); }
  .process-card__list {
    margin-bottom: 32px; }
  .process-card__item {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 13px;
    line-height: 1.5;
    letter-spacing: normal;
    color: #6c788b; }
    .process-card__item:not(:last-child) {
      margin-bottom: 5px; }
  .process-card__button--lightblue::before {
    background: #56ccf2 url("../images/slider/arrow-btn.svg") center/50% no-repeat; }
  .process-card__button--lightgreen::before {
    background: #15d850 url("../images/slider/arrow-btn.svg") center/50% no-repeat; }
  .process-card__button--orange::before {
    background: #fcc91d url("../images/slider/arrow-btn.svg") center/50% no-repeat; }
  .process-card__button--lightred::before {
    background: #f36363 url("../images/slider/arrow-btn.svg") center/50% no-repeat; }

@use "../utils";
.button-arrow {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.5;
  letter-spacing: normal;
  color: #334563;
  background: #fff;
  border: 0;
  margin-left: 40px;
  position: relative;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s; }
  .button-arrow::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    left: -40px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    border-radius: 50%;
    color: #fff; }
  .button-arrow--lightblue::before {
    background: #56ccf2 url("../images/slider/arrow-btn.svg") center/50% no-repeat; }
  .button-arrow:hover {
    -webkit-transform: translateX(20px);
            transform: translateX(20px); }

@use "../utils";
.tagline {
  max-width: 1600px;
  margin: 0 auto 148;
  padding-left: 120px; }
  @media (max-width: 900px) {
    .tagline {
      padding-left: 0;
      margin-bottom: 50px; } }
  .tagline__wrapper {
    overflow: hidden;
    position: relative;
    padding: 204px 0 204px 204px;
    background: #ff9c8e;
    border-radius: 200px 0 0 200px; }
    @media (max-width: 900px) {
      .tagline__wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        padding: 40px 20px;
        border-radius: 50px 0 0 50px; } }
  .tagline__picture {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 40%;
    border-radius: 200px 0 0;
    overflow: hidden; }
    @media (max-width: 1024px) {
      .tagline__picture {
        display: none; } }
  .tagline__image {
    display: block;
    max-width: 100%;
    max-height: 680px;
    -o-object-fit: cover;
       object-fit: cover; }
  .tagline__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 362px;
    color: #fff; }
  .tagline__overhead {
    margin-bottom: 16px; }
  .tagline__title {
    color: #fff;
    margin-bottom: 32px;
    text-align: left; }
    @media (max-width: 900px) {
      .tagline__title {
        text-align: center;
        font-size: 26px; } }
  .tagline__text {
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    font-size: 15px;
    line-height: 1.5;
    letter-spacing: normal;
    position: relative;
    padding-left: 98px; }
    @media (max-width: 900px) {
      .tagline__text {
        padding: 50px 0 0;
        text-align: center; } }
    .tagline__text:not(:last-child) {
      margin-bottom: 64px; }
    .tagline__text::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 64px;
      height: 64px;
      border-radius: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%); }
      @media (max-width: 900px) {
        .tagline__text::before {
          top: 10px;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%); } }
    .tagline__text--logo-1::before {
      background: url("../images/features/features-item-icon-1.svg") center/100% no-repeat; }
    .tagline__text--logo-2::before {
      background: url("../images/features/features-item-icon-2.svg") center/100% no-repeat; }
    .tagline__text--logo-3::before {
      background: url("../images/features/features-item-icon-3.svg") center/100% no-repeat; }

@use "../utils";
.testimonials__description {
  margin-bottom: 85px; }
  @media (max-width: 900px) {
    .testimonials__description {
      margin-bottom: 30px; } }

.testimonials__review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 168px; }
  @media (max-width: 750px) {
    .testimonials__review {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }
  @media (max-width: 900px) {
    .testimonials__review {
      margin-bottom: 50px;
      -ms-flex-pack: distribute;
          justify-content: space-around; } }

@media (max-width: 1024px) {
  .testimonials__card:not(:last-child) {
    margin-bottom: 30px; } }

@use "../utils";
.person-card {
  max-width: 314px;
  padding: 87px 32px 32px;
  text-align: center;
  background: #fff;
  -webkit-box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
          box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
  border-radius: 24px;
  -webkit-transition: -webkit-box-shadow;
  transition: -webkit-box-shadow;
  transition: box-shadow;
  transition: box-shadow, -webkit-box-shadow;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s; }
  .person-card:hover {
    -webkit-box-shadow: 0 9px 18px rgba(37, 41, 49, 0.3);
            box-shadow: 0 9px 18px rgba(37, 41, 49, 0.3); }
  @media (max-width: 900px) {
    .person-card {
      padding: 40px 5px 5px; } }
  .person-card__photo {
    margin-bottom: 110px;
    position: relative;
    z-index: 1; }
    @media (max-width: 900px) {
      .person-card__photo {
        margin-bottom: 60px; } }
    .person-card__photo::before, .person-card__photo::after {
      position: absolute;
      content: "";
      width: 139px;
      height: 56px;
      border-radius: 500px;
      z-index: -1;
      -webkit-transform: rotate(-60deg);
              transform: rotate(-60deg); }
    .person-card__photo::before {
      top: 0;
      left: 0; }
    .person-card__photo::after {
      bottom: 0;
      right: 0; }
  .person-card__img {
    width: 140px;
    height: 140px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 50%; }
  .person-card__review {
    font-size: 13px;
    line-height: 1.5;
    letter-spacing: normal;
    color: #6c788b;
    margin-bottom: 16px;
    position: relative; }
    .person-card__review::before {
      content: "";
      position: absolute;
      width: 19px;
      height: 21px;
      top: -30px;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      -webkit-mask: url("../images/testimonials/quotes.svg") no-repeat 100%/100%; }
  .person-card__name-link {
    display: block;
    color: #253757;
    margin-bottom: 10px;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s; }
    .person-card__name-link:hover {
      -webkit-transform: scale(1.2);
              transform: scale(1.2); }
  .person-card__position {
    color: #c0cdd7; }
  .person-card--lightblue .person-card__photo::before,
  .person-card--lightblue .person-card__photo::after {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #56ccf2;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #56ccf2; }
  .person-card--lightblue .person-card__review::before {
    background-color: #56ccf2; }
  .person-card--lightgreen .person-card__photo::before,
  .person-card--lightgreen .person-card__photo::after {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #15d850;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #15d850; }
  .person-card--lightgreen .person-card__review::before {
    background-color: #15d850; }
  .person-card--orange .person-card__photo::before,
  .person-card--orange .person-card__photo::after {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #fcc91d;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #fcc91d; }
  .person-card--orange .person-card__review::before {
    background-color: #fcc91d; }
  .person-card--lightred .person-card__photo::before,
  .person-card--lightred .person-card__photo::after {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0))), #f36363;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #f36363; }
  .person-card--lightred .person-card__review::before {
    background-color: #f36363; }

@use "../utils";
.slogan {
  position: relative;
  max-width: 1600px;
  margin: 0 auto;
  z-index: 0;
  background: #fff;
  border-radius: 100px 100px 0 0; }
  .slogan__content {
    max-width: 750px;
    margin: 0 auto;
    padding: 200px 0;
    text-align: center;
    z-index: 1; }
    @media (max-width: 700px) {
      .slogan__content {
        padding: 50px 0; } }
  .slogan__title {
    margin-bottom: 25px; }
  .slogan__text {
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: normal;
    color: #6c788b;
    margin-bottom: 64px; }
  .slogan__button {
    width: 226px;
    height: 56px;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s; }
    .slogan__button:hover {
      color: #ff9c8e; }
    .slogan__button:hover {
      background-color: #eee; }

@use "../utils";
.rectangle {
  position: absolute;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  opacity: 0.5;
  border-radius: 500px;
  border: 2px solid;
  z-index: -1;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s; }
  .rectangle--is-active {
    -webkit-transform: rotate(390deg);
            transform: rotate(390deg); }
  .rectangle:hover {
    -webkit-transform: rotate(210deg);
            transform: rotate(210deg); }
  .rectangle--small {
    width: 2vh;
    height: 6vh; }
  .rectangle--medium {
    width: 3vh;
    height: 9vh; }
  .rectangle--big {
    width: 4vh;
    height: 11vh; }
  .rectangle--large {
    width: 5vh;
    height: 14vh; }
  .rectangle--pos-1 {
    top: 10%;
    left: 37%;
    border-color: #15d850; }
  .rectangle--pos-2 {
    top: 68%;
    left: 72%;
    border-color: #56ccf2; }
  .rectangle--pos-3 {
    top: 90%;
    left: 65%;
    border-color: #15d850; }
  .rectangle--pos-4 {
    top: 11%;
    left: 15%;
    border-color: #ff9c8e; }
  .rectangle--pos-5 {
    top: 80%;
    left: 8%;
    border-color: #15d850; }
  .rectangle--pos-6 {
    top: 50%;
    left: 25%;
    border-color: #f36363; }
  .rectangle--pos-7 {
    top: 72%;
    left: 35%;
    border-color: #ff9c8e; }
  .rectangle--pos-8 {
    top: 75%;
    left: 85%;
    border-color: #e100ff; }
  .rectangle--pos-9 {
    top: 55%;
    left: 64%;
    border-color: #fcc91d; }
  .rectangle--pos-10 {
    top: 40%;
    left: 10%;
    border-color: #56ccf2; }
  .rectangle--pos-11 {
    top: 30%;
    left: 84%;
    border-color: #ff9c8e; }
  .rectangle--pos-12 {
    top: 7%;
    left: 70%;
    border-color: #fcc91d; }

@use "../utils";
.contacts {
  position: relative;
  width: 100%;
  padding-top: 180px;
  background: #008aff;
  border-radius: 0 200px 0 0; }
  @media (max-width: 900px) {
    .contacts {
      padding-top: 50px;
      border-radius: 0 50px 0 0; } }
  .contacts__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    margin-bottom: 138px; }
    @media (max-width: 900px) {
      .contacts__content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-bottom: 30px; } }
  .contacts::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: -1; }
    @media (min-width: 1600px) {
      .contacts::after {
        display: none; } }
  .contacts__title {
    color: #fff;
    margin-bottom: 50px; }
    @media (max-width: 900px) {
      .contacts__title {
        font-size: 26px; } }
  @media (max-width: 900px) {
    .contacts__address {
      margin-bottom: 50px;
      text-align: center; } }
  .contacts__menu {
    padding-bottom: 82px; }
    @media (max-width: 900px) {
      .contacts__menu {
        padding-bottom: 30px; } }
  @media (max-width: 900px) {
    .contacts__nav {
      display: none; } }

@use "../utils";
.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .form__input {
    padding: 16px 0;
    margin-bottom: 32px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    -webkit-box-shadow: 0 1px 0 #008aff;
            box-shadow: 0 1px 0 #008aff;
    -webkit-transition: -webkit-box-shadow 0.4s;
    transition: -webkit-box-shadow 0.4s;
    transition: box-shadow 0.4s;
    transition: box-shadow 0.4s, -webkit-box-shadow 0.4s; }

@-webkit-keyframes autofill {
  to {
    color: #fff;
    background: transparent; } }
    .form__input:-webkit-autofill {
      -webkit-animation-name: autofill;
      -webkit-animation-fill-mode: both; }
    .form__input::-webkit-input-placeholder {
      opacity: 0.7;
      -webkit-transition: opacity 0.4s;
      transition: opacity 0.4s; }
    .form__input::-moz-placeholder {
      opacity: 0.7;
      -moz-transition: opacity 0.4s;
      transition: opacity 0.4s; }
    .form__input:-ms-input-placeholder {
      opacity: 0.7;
      -ms-transition: opacity 0.4s;
      transition: opacity 0.4s; }
    .form__input::-ms-input-placeholder {
      opacity: 0.7;
      -ms-transition: opacity 0.4s;
      transition: opacity 0.4s; }
    .form__input::placeholder {
      opacity: 0.7;
      -webkit-transition: opacity 0.4s;
      transition: opacity 0.4s; }
    .form__input:focus {
      -webkit-box-shadow: 0 1px 0 #fff;
              box-shadow: 0 1px 0 #fff;
      outline: none; }
    .form__input:focus::-webkit-input-placeholder {
      opacity: 1;
      -webkit-transition: color 0.4s, opacity 0.4s;
      transition: color 0.4s, opacity 0.4s; }
    .form__input:focus::-moz-placeholder {
      opacity: 1;
      -moz-transition: color 0.4s, opacity 0.4s;
      transition: color 0.4s, opacity 0.4s; }
    .form__input:focus:-ms-input-placeholder {
      opacity: 1;
      -ms-transition: color 0.4s, opacity 0.4s;
      transition: color 0.4s, opacity 0.4s; }
    .form__input:focus::-ms-input-placeholder {
      opacity: 1;
      -ms-transition: color 0.4s, opacity 0.4s;
      transition: color 0.4s, opacity 0.4s; }
    .form__input:focus::placeholder {
      opacity: 1;
      -webkit-transition: color 0.4s, opacity 0.4s;
      transition: color 0.4s, opacity 0.4s; }
  .form__button {
    width: 60%;
    padding: 16px 0;
    margin-top: 80px;
    text-align: center; }
    @media (max-width: 900px) {
      .form__button {
        margin: 50px auto 0; } }

@use "../utils";
@media (max-width: 900px) {
  .contacts__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; } }

.contacts__item {
  margin-bottom: 48px; }

.contacts__subtitle {
  margin-bottom: 10px;
  color: #fff;
  opacity: 0.5; }

.contacts__link {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #fff;
  -webkit-transition: color 0.3s;
  transition: color 0.3s; }
  .contacts__link:hover {
    color: #ff9c8e; }

.contacts__media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45%; }
  @media (max-width: 900px) {
    .contacts__media {
      width: 50vw; } }

.contacts__media-link {
  position: relative; }
  .contacts__media-link::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    width: 40px;
    height: 40px;
    background: #fff;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s; }
  .contacts__media-link:hover::before {
    background: #ff9c8e; }
  .contacts__media-link--facebook::before {
    -webkit-mask: url("../images/social-media/facebook.svg") no-repeat 60%/60%; }
  .contacts__media-link--twitter::before {
    -webkit-mask: url("../images/social-media/twitter.svg") no-repeat 100%/100%; }
  .contacts__media-link--instagram::before {
    -webkit-mask: url("../images/social-media/instagram.svg") no-repeat 100%/100%; }

@use "../utils";
.footer {
  width: 100%;
  margin: 0 auto;
  background: #008aff; }

/*# sourceMappingURL=main.css.map */
