/*list*/
h1 {
  font-weight: 400; }

.promo__callback, .nav__link {
  text-decoration: none;
  color: #fff; }

.promo__callback, .nav__link {
  font-size: 13px;
  font-family: Poppins, sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold; }

.promo__header, .header, .nav__list, .promo__content, .services__items, .processes__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.processes__title, .tagline__title {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 150%; }

.processes__overhead, .tagline__overhead {
  font-family: Poppins, sans-serif;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 3px;
  text-transform: uppercase; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*list*/
h1 {
  font-weight: 400; }

.promo__callback, .nav__link {
  text-decoration: none;
  color: #fff; }

.promo__callback, .nav__link {
  font-size: 13px;
  font-family: Poppins, sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold; }

.promo__header, .header, .nav__list, .promo__content, .services__items, .processes__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.processes__title, .tagline__title {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 150%; }

.processes__overhead, .tagline__overhead {
  font-family: Poppins, sans-serif;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 3px;
  text-transform: uppercase; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: "Open Sans", sans-serif;
  background: #eee; }

/*list*/
h1 {
  font-weight: 400; }

.promo__callback, .nav__link {
  text-decoration: none;
  color: #fff; }

.promo__callback, .nav__link {
  font-size: 13px;
  font-family: Poppins, sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold; }

.promo__header, .header, .nav__list, .promo__content, .services__items, .processes__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.processes__title, .tagline__title {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 150%; }

.processes__overhead, .tagline__overhead {
  font-family: Poppins, sans-serif;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 3px;
  text-transform: uppercase; }

.container {
  max-width: 1146px;
  margin: 0 auto; }
  .container--promo {
    margin-bottom: 148px; }
  .container--description {
    max-width: 760px; }
  @media (max-width: 1200px) {
    .container {
      padding: 0 20px; } }

/*list*/
h1 {
  font-weight: 400; }

.promo__callback, .nav__link {
  text-decoration: none;
  color: #fff; }

.promo__callback, .nav__link {
  font-size: 13px;
  font-family: Poppins, sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold; }

.promo__header, .header, .nav__list, .promo__content, .services__items, .processes__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.processes__title, .tagline__title {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 150%; }

.processes__overhead, .tagline__overhead {
  font-family: Poppins, sans-serif;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 3px;
  text-transform: uppercase; }

.promo {
  background: #008aff;
  border-radius: 0 0 200px 200px;
  overflow: hidden;
  max-width: 1600px;
  margin: 0 auto 148px;
  position: relative;
  -webkit-transition: border-radius 0.5s;
  transition: border-radius 0.5s; }
  @media (max-width: 1601px) {
    .promo {
      border-bottom-right-radius: 0; } }
  .promo__header {
    width: 100%;
    margin-bottom: 168px; }
  .promo__menu {
    margin: 48px 0; }
  .promo__callback {
    padding: 8px 0;
    position: relative;
    -webkit-transition: color 0.3s;
    transition: color 0.3s; }
    @media (max-width: 968px) {
      .promo__callback {
        display: none; } }
    .promo__callback::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      bottom: 0;
      background: #ff9c8e; }
    .promo__callback:hover {
      color: #ff9c8e; }
  .promo__button {
    padding: 13px 0;
    width: 60%;
    text-align: center; }
  .promo__slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 55%;
    height: 626px;
    border-top-left-radius: 200px;
    overflow: hidden; }
  .promo__slider-picture {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%; }

/*list*/
h1 {
  font-weight: 400; }

.promo__callback, .nav__link {
  text-decoration: none;
  color: #fff; }

.promo__callback, .nav__link {
  font-size: 13px;
  font-family: Poppins, sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold; }

.promo__header, .header, .nav__list, .promo__content, .services__items, .processes__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.processes__title, .tagline__title {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 150%; }

.processes__overhead, .tagline__overhead {
  font-family: Poppins, sans-serif;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 3px;
  text-transform: uppercase; }

@media (max-width: 969px) {
  .header {
    width: 100%; } }

.header__logo {
  margin-right: 78px; }

/*list*/
h1 {
  font-weight: 400; }

.promo__callback, .nav__link {
  text-decoration: none;
  color: #fff; }

.promo__callback, .nav__link {
  font-size: 13px;
  font-family: Poppins, sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold; }

.promo__header, .header, .nav__list, .promo__content, .services__items, .processes__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.processes__title, .tagline__title {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 150%; }

.processes__overhead, .tagline__overhead {
  font-family: Poppins, sans-serif;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 3px;
  text-transform: uppercase; }

.nav__list :not(:first-child) {
  margin-left: 64px; }

@media (max-width: 968px) {
  .nav__list {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; } }

.nav__link {
  padding: 8px 0;
  -webkit-transition: color 0.3s;
  transition: color 0.3s; }
  .nav__link:hover {
    color: #ff9c8e; }

@media (min-width: 969px) {
  .nav__toggle {
    display: none; } }

/*list*/
h1 {
  font-weight: 400; }

.promo__callback, .nav__link {
  text-decoration: none;
  color: #fff; }

.promo__callback, .nav__link {
  font-size: 13px;
  font-family: Poppins, sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold; }

.promo__header, .header, .nav__list, .promo__content, .services__items, .processes__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.processes__title, .tagline__title {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 150%; }

.processes__overhead, .tagline__overhead {
  font-family: Poppins, sans-serif;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 3px;
  text-transform: uppercase; }

.promo__content {
  height: 100%; }
  @media (max-width: 900px) {
    .promo__content {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

.promo__presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%; }
  @media (max-width: 900px) {
    .promo__presentation {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      text-align: center;
      margin-bottom: 30px; } }

.promo__title {
  margin-bottom: 32px;
  font-weight: 600;
  font-size: 64px;
  line-height: 68px;
  letter-spacing: -2px;
  color: #fff; }

.promo__idea {
  margin-bottom: 83px;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  color: #fff; }

/*list*/
h1 {
  font-weight: 400; }

.promo__callback, .nav__link {
  text-decoration: none;
  color: #fff; }

.promo__callback, .nav__link {
  font-size: 13px;
  font-family: Poppins, sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold; }

.promo__header, .header, .nav__list, .promo__content, .services__items, .processes__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.processes__title, .tagline__title {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 150%; }

.processes__overhead, .tagline__overhead {
  font-family: Poppins, sans-serif;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 3px;
  text-transform: uppercase; }

.button {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 15px;
  background: #ff9c8e;
  color: #fff;
  border: 2px solid #ff9c8e;
  border-radius: 64px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  -webkit-transition: color 0.3s;
  transition: color 0.3s; }
  .button:hover {
    background-color: #eee; }
  .button:hover {
    color: #ff9c8e; }

/*list*/
h1 {
  font-weight: 400; }

.promo__callback, .nav__link {
  text-decoration: none;
  color: #fff; }

.promo__callback, .nav__link {
  font-size: 13px;
  font-family: Poppins, sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold; }

.promo__header, .header, .nav__list, .promo__content, .services__items, .processes__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.processes__title, .tagline__title {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 150%; }

.processes__overhead, .tagline__overhead {
  font-family: Poppins, sans-serif;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 3px;
  text-transform: uppercase; }

.description {
  width: 65%;
  margin: 0 auto;
  padding-bottom: 148px; }
  .description__title {
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    margin-bottom: 16px;
    color: #253757; }
  .description__text {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: #6c788b; }

/*list*/
h1 {
  font-weight: 400; }

.promo__callback, .nav__link {
  text-decoration: none;
  color: #fff; }

.promo__callback, .nav__link {
  font-size: 13px;
  font-family: Poppins, sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold; }

.promo__header, .header, .nav__list, .promo__content, .services__items, .processes__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.processes__title, .tagline__title {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 150%; }

.processes__overhead, .tagline__overhead {
  font-family: Poppins, sans-serif;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 3px;
  text-transform: uppercase; }

.services {
  background: #fff;
  padding: 130px 0 100px; }
  .services__title {
    margin-bottom: 64px;
    text-align: center; }
  .services__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .services__card {
    margin-bottom: 30px; }

/*list*/
h1 {
  font-weight: 400; }

.promo__callback, .nav__link {
  text-decoration: none;
  color: #fff; }

.promo__callback, .nav__link {
  font-size: 13px;
  font-family: Poppins, sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold; }

.promo__header, .header, .nav__list, .promo__content, .services__items, .processes__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.processes__title, .tagline__title {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 150%; }

.processes__overhead, .tagline__overhead {
  font-family: Poppins, sans-serif;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 3px;
  text-transform: uppercase; }

.title {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 52px;
  line-height: 150%;
  color: #253757; }

/*list*/
h1 {
  font-weight: 400; }

.promo__callback, .nav__link {
  text-decoration: none;
  color: #fff; }

.promo__callback, .nav__link {
  font-size: 13px;
  font-family: Poppins, sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold; }

.promo__header, .header, .nav__list, .promo__content, .services__items, .processes__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.processes__title, .tagline__title {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 150%; }

.processes__overhead, .tagline__overhead {
  font-family: Poppins, sans-serif;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 3px;
  text-transform: uppercase; }

.card {
  width: 264px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s; }
  .card__picture {
    width: 188px;
    height: 166px;
    border-radius: 30px;
    margin-bottom: 40px; }
  .card__title {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #253757;
    margin-bottom: 16px; }
  .card__description {
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #6c788b; }
  .card:hover {
    -webkit-transform: scale(1.03);
            transform: scale(1.03); }

/*list*/
h1 {
  font-weight: 400; }

.promo__callback, .nav__link {
  text-decoration: none;
  color: #fff; }

.promo__callback, .nav__link {
  font-size: 13px;
  font-family: Poppins, sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold; }

.promo__header, .header, .nav__list, .promo__content, .services__items, .processes__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.processes__title, .tagline__title {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 150%; }

.processes__overhead, .tagline__overhead {
  font-family: Poppins, sans-serif;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 3px;
  text-transform: uppercase; }

.processes {
  padding: 148px 0 44px; }
  .processes__content {
    width: 100%; }
  .processes__items {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .processes__cards-block {
    width: 48%; }
    .processes__cards-block--down {
      position: relative;
      bottom: -135px;
      z-index: 1; }
  .processes__card {
    width: 100%;
    padding: 34px 43px; }
    .processes__card:first-child {
      margin-bottom: 30px; }

/*list*/
h1 {
  font-weight: 400; }

.promo__callback, .nav__link {
  text-decoration: none;
  color: #fff; }

.promo__callback, .nav__link {
  font-size: 13px;
  font-family: Poppins, sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold; }

.promo__header, .header, .nav__list, .promo__content, .services__items, .processes__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.processes__title, .tagline__title {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 150%; }

.processes__overhead, .tagline__overhead {
  font-family: Poppins, sans-serif;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 3px;
  text-transform: uppercase; }

.processes__description {
  width: 30%; }

.processes__overhead {
  color: #c0cdd7;
  margin-bottom: 16px; }

.processes__title {
  color: #253757;
  margin-bottom: 24px; }

.processes__ideas {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #6c788b; }
  .processes__ideas:not(:last-child) {
    margin-bottom: 20px; }

/*list*/
h1 {
  font-weight: 400; }

.promo__callback, .nav__link {
  text-decoration: none;
  color: #fff; }

.promo__callback, .nav__link {
  font-size: 13px;
  font-family: Poppins, sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold; }

.promo__header, .header, .nav__list, .promo__content, .services__items, .processes__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.processes__title, .tagline__title {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 150%; }

.processes__overhead, .tagline__overhead {
  font-family: Poppins, sans-serif;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 3px;
  text-transform: uppercase; }

.process-card {
  background: #fff;
  -webkit-box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
          box-shadow: 0 9px 18px rgba(37, 41, 49, 0.03);
  border-radius: 24px; }
  .process-card__number {
    display: inline-block;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    border-radius: 23px;
    padding: 2px 12px;
    margin-bottom: 24px; }
    .process-card__number--lightblue {
      color: #56ccf2;
      background: rgba(86, 204, 242, 0.1); }
    .process-card__number--lightgreen {
      color: #15d850;
      background: rgba(21, 216, 80, 0.1); }
    .process-card__number--orange {
      color: #fcc91d;
      background: rgba(252, 201, 29, 0.1); }
    .process-card__number--lightred {
      color: #f36363;
      background: rgba(243, 99, 99, 0.1); }
  .process-card__list {
    margin-bottom: 32px; }
  .process-card__item {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 13px;
    line-height: 150%;
    color: #6c788b; }
    .process-card__item:not(:last-child) {
      margin-bottom: 5px; }
  .process-card__button--lightblue::before {
    background: #56ccf2 url("../images/slider/arrow-btn.svg") center/50% no-repeat; }
  .process-card__button--lightgreen::before {
    background: #15d850 url("../images/slider/arrow-btn.svg") center/50% no-repeat; }
  .process-card__button--orange::before {
    background: #fcc91d url("../images/slider/arrow-btn.svg") center/50% no-repeat; }
  .process-card__button--lightred::before {
    background: #f36363 url("../images/slider/arrow-btn.svg") center/50% no-repeat; }

/*list*/
h1 {
  font-weight: 400; }

.promo__callback, .nav__link {
  text-decoration: none;
  color: #fff; }

.promo__callback, .nav__link {
  font-size: 13px;
  font-family: Poppins, sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold; }

.promo__header, .header, .nav__list, .promo__content, .services__items, .processes__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.processes__title, .tagline__title {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 150%; }

.processes__overhead, .tagline__overhead {
  font-family: Poppins, sans-serif;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 3px;
  text-transform: uppercase; }

.button-arrow {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: #334563;
  background: #fff;
  border: 0;
  margin-left: 40px;
  position: relative;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s; }
  .button-arrow::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    left: -40px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    border-radius: 50%;
    color: #fff; }
  .button-arrow--lightblue::before {
    background: #56ccf2 url("../images/slider/arrow-btn.svg") center/50% no-repeat; }
  .button-arrow:hover {
    -webkit-transform: translateX(20px);
            transform: translateX(20px); }

/*list*/
h1 {
  font-weight: 400; }

.promo__callback, .nav__link {
  text-decoration: none;
  color: #fff; }

.promo__callback, .nav__link {
  font-size: 13px;
  font-family: Poppins, sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bold; }

.promo__header, .header, .nav__list, .promo__content, .services__items, .processes__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.processes__title, .tagline__title {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 150%; }

.processes__overhead, .tagline__overhead {
  font-family: Poppins, sans-serif;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 3px;
  text-transform: uppercase; }

.tagline {
  max-width: 1600px;
  margin: 0 auto;
  padding-left: 120px; }
  .tagline__wrapper {
    background: #ff9c8e;
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
    overflow: hidden;
    position: relative;
    padding: 204px 0 204px 204px; }
  .tagline__picture {
    position: absolute;
    bottom: -3px;
    right: 0;
    border-top-left-radius: 200px;
    overflow: hidden; }
  .tagline__image {
    max-width: 687px;
    max-height: 680px;
    -o-object-fit: cover;
       object-fit: cover; }
  .tagline__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 362px;
    color: #fff; }
  .tagline__overhead {
    margin-bottom: 16px; }
  .tagline__title {
    margin-bottom: 32px; }
  .tagline__text {
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    font-size: 15px;
    line-height: 150%;
    position: relative;
    padding-left: 98px; }
    .tagline__text:not(:last-child) {
      margin-bottom: 64px; }
    .tagline__text::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 64px;
      height: 64px;
      border-radius: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%); }
    .tagline__text--logo-1::before {
      background: url("../images/features/features-item-icon-1.svg") center/100% no-repeat; }
    .tagline__text--logo-2::before {
      background: url("../images/features/features-item-icon-2.svg") center/100% no-repeat; }
    .tagline__text--logo-3::before {
      background: url("../images/features/features-item-icon-3.svg") center/100% no-repeat; }

/*# sourceMappingURL=main.css.map */
